version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql8
    restart: always

    environment:
      MYSQL_DATABASE: productdB
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: root
      MYSQL_PASSWORD: root

    ports:
      - "3306:3306"





